
/* ---------- Animation --------------- */
@keyframes fade {
    0% {
        opacity: 0;
        margin-left: 3em;
    }
    100% {
        opacity: 1;
    }
}

/* --------------category area -------------------*/

.section-container{
    width: 100%;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    padding-top: 0px;
    margin-bottom: 100px;
}
.section-container .sec-card{
    position: relative;
    width: 390px;
    height: 320px;
	color: #fff;
	box-shadow: inset 5px 5px 5px rgb(0 0 0 / 5%), inset -5px -5px 5px rgb(255 255 255 / 50%), 5px 5px 5px rgb(0 0 0 / 5%), -5px -5px 5px rgb(255 255 255 / 50%);
	border-radius: 15px;
	margin: 20px;
}
.section-container .sec-card .card-box{
	position: absolute;
	top: 30px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	border-radius: 15px;
	box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
	display: flex;
	justify-content: center;
	align-items: center;
    
}
.section-container .sec-card:hover .card-box{
	transform: translateY(-50px);
	 box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
	 background: linear-gradient( 130deg
 ,#139fbf 25%,#c2bbbb 100%)!important;
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    transition: 0.4s;

}
.section-container .sec-card .card-box .card-content{
	padding: 20px;
	text-align: center;
	font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif!important;

}
.section-container .sec-card .card-box .card-content h3{
	font-size: 1.8em;
	color: rgb(0, 0, 0);

	z-index: 1;
	transition: 0.5s;
	font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif!important;

}
.section-container .sec-card .card-box .card-content p{
	font-size: 1em;
	font-weight: 300;
	color: rgb(0, 0, 0);

	z-index: 1;
	transition: 0.5s;
		font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif!important;

}
.section-container .sec-card:hover .card-box .card-content p,
.section-container .sec-card:hover .card-box .card-content h3{
	color: #fff;
}
.section-container .sec-card .card-box .card-content a{
	position: relative;
    display: inline-block;
    padding: 15px 20px;
    background: #1D2C48;
    margin-top: 15px;
    font-family: 'Poppins',sans-serif!important;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    letter-spacing: 3px;
    /* background-image: linear-gradient( 90deg
 ,#4d78cf 0%,#6eada0 100%); */
    border-width: 0px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700!important;
    text-transform: uppercase!important;
}
.section-container .sec-card:hover .card-box .card-content a{
	
	background: #fff;
	color: #1d2c48;
}

/* ------------------------------------------------*/

